.yellow{
  background-color: #FFBF00;
  display: inline-block;
  margin: 20px;
}
.grey{
  background-color: grey;
  display: inline-block;
  margin: 20px;
}
h4{
  padding: 0.4em;
  margin: 0.2em;
}
.white{
  color: white;
}
