.yellow{
  background-color: #FFBF00;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;
}
.grey{
  background-color: grey;
  padding-bottom: 3em;
  width: 200px;
  height: 100px;
}
h1,p,h4{
  padding: 0.4em;
}
p{
  color: white;
}
